button{
    color: #8e8e8e;
    background-color: #1a1a1a;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: 100px;
    font-size: calc(1em + 1.5vw);
    filter: drop-shadow(0 0 3rem #292929);
    font-family: sans-serif;
}
