.top-text{
    font-size: calc(.5em + 1.5vw);
    color: #00ffd5;
    font-family: sans-serif;
    text-align: center;
}

.bottom-text{
    font-size: calc(.5em + 1.5vw);
    color: #00ffd5;
    font-family: sans-serif;
    text-align: center;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
}
