button{
    color: #8e8e8e;
    background-color: #1a1a1a;
    border: none;
    border-radius: 10px;
    position: absolute;
    width: 34%;
    padding: 10px;
    height: 100px;
    top: 80%; left: 50%;
    transform: translate(-50%, -80%);
    font-size: 32px;
    filter: drop-shadow(0 0 3rem #292929);
    font-family: sans-serif;
}
